<!DOCTYPE html>
<html>

<head>
    <title>Oliver og Josephines Bachelorprojekt 2019</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="javascripts/logik.js"> </script>
</head>

<body>


    <!-- Page Content -->
    <!--<div id="main">-->


    <!-- Start view --->
    <div id="startview">
        <h1>Velkommen til Matematik-spillet.</h1>

        <div id="introtext">
            Dette er et læringsspil for to spillere. <br> Én spiller skal sidde med sin mobil, den anden skal spille på sin computer. Personen med mobilen skal trykke sig frem og fortælle sin medspiller, hvad der er på skærmen. Ved at samarbejde er det spillernes opgave at komme igennem logik-opgaverne.
        </div>

        <button id="startbutton">Start spillet</button>

    </div>
    <!-- Start view END --->

    <!-- Intro view A -->

    <div id="introviewA" hidden>
        <h2> For at hjælpe din medspiller skal du huske:</h2>
        <div>
            <ul>
                <li>At læse højt for din medspiller, når der står noget på din skærm.</li>
                <li>At klikke på billederne på skærmen.</li>
                <li>At scrolle ned på siden, for at kunne se det hele</li>
            </ul>
        </div>
        <div>Er I klar...?</div>
        
        <button id="introabutton">Videre</button>
    </div>
    <!-- Intro view A END -->
    
    <!-- Intro view B -->

    <div id="introviewB" hidden>
        <div id="introtextb">
            I er lige kommet hjem fra skole...<br>
            Koden til den digitale lås på hoveddøren er:<br>
        </div>
        <div><b>2468</b></div>

        <button id="introbbutton">Videre</button>

    </div>
    <!-- Intro view B END-->

    
    <!-- First view: SMS + input field --->
    <div id="firstview" hidden>
        <div>
            <img src="images/mobilskabelon1.jpg" id="firstviewpic">
        </div>
        
        <audio id="sms_sound">
            <source src="sounds/standard_iphone.mp3" type="audio/mpeg">
        </audio>

        <div id="firstviewinput" hidden>
            Kode:<br>
            <input type="text" id="firstviewtext"><br>
            <button id="firstviewbutton">Videre</button>
        </div>
        
        <audio id="good_sound">
            <source src="sounds/positive_sound.mp4" type="audio/mpeg">
        </audio>
        <div id=errordiv1></div>

    </div>
    <!-- First view END  --->

    <!-- Second view: To do list  --->
    <div id="secondview" hidden>

        <audio id="page_turn">
            <source src="sounds/page_turn.mp3" type="audio/mpeg">
        </audio>

        <div>
            <img class="floats" src="images/pligtseddel01.jpg">
            <img class="floats" src="images/pligtseddel002.jpg" id="secondviewbutton">
            <img class="floats" src="images/pligtseddel03.jpg">
        </div>

    </div>
    <!-- Second view END  --->

    <!-- Third view: Sub tasks + input field --->
    <div id="thirdview" hidden>
        <audio id="pen_sound">
            <source src="sounds/pen_stroke.mp3" type="audio/mpeg">
        </audio>
        
        <div style="font-size:0;">
            <img class="floats" src="images/underopgave1.jpg">
            <img class="floats" src="images/underopgave2.jpg" id="image1">
            <img class="floats" src="images/underopgave2_done.jpg" id="image1_done" hidden>
            <img class="floats" src="images/underopgave3.jpg" id="image2">
            <img class="floats" src="images/underopgave3_done.jpg" id="image2_done" hidden>
            <img class="floats" src="images/underopgave4.jpg" id="image3">
            <img class="floats" src="images/underopgave4_done.jpg" id="image3_done" hidden>
        </div>
        
        <div id="thirdviewinput" hidden>
            Kode:<br>
            <input type="text" id="thirdviewtext"><br>
            <button id="thirdviewbutton">Videre</button>
        </div>
        <div id=errordiv2></div>

    </div>

    <!-- Third view END  --->

    <!-- Fourth view: Graf + inputfield  --->
    <div id="fourthview" hidden>
        <div>
            <img src="images/dogfood.png" id="fourthviewpic">
        </div>

        <div id="fourthviewinput" hidden>
            Mængde i gram:<input type="text" id="fourthviewtext"><br>
            <button id="fourthviewbutton">Videre</button>
        </div>
        <div id=errordiv3></div>
    </div>

    <!-- Fourth view END  --->

    <!-- Fifth view: Changed to do list + code   --->

    <div id="fifthview" hidden>
        <div style="font-size:0;">
            <img src="images/pligtopgave1_done.jpg" id="done1">
        </div>
        
        <div id="fifthviewinput" hidden>
            Kode:<br>
            <input type="text" id="fifthviewtext"><br>
            <button id="fifthviewbutton">Videre</button>
        </div>

        <div id=errordiv4></div>

    </div>
    <!-- Fifth view END  --->

    <!-- Sixth view  --->

    <div id="sixthview" hidden>
        <div>Godt arbejde! <br>Første pligt er fuldført.</div>

        <div>I har bevist, at I kan løse logiske opgaver i fællesskab :-)</div>

        <!-- </div> -->

        <!-- Sixth view END  --->

        <!-- END PAGE CONTENT -->
    </div>

</body>

</html>
