<!DOCTYPE html>
<html>

<head>
    <title>Oliver og Josephines Bachelorprojekt 2019</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .w3-row-padding img {
            margin-bottom: 12px
        }


        /* Remove margins from "page content" on small screens */
        @media only screen and (max-width: 600px) {
            #main {
                margin-left: 0
            }
        }

    </style>
</head>

<body class="w3-black">


    <!-- Page Content -->
    <div class="w3-padding-large" id="main">


        <!-- Start view --->
        <h1 class="w3-jumbo"><span class="w3-hide-small">Velkommen til</span> Matematik-spillet.</h1>
        <p>Olivers og Josephines bachelorprojekt 2019</p>

        <button class="w3-button w3-light-grey w3-padding-large w3-section"> Start spillet </button>


        <!-- Start view END --->


        <!-- First view: SMS + input field --->
        <div>
            <img src="images/mobilskabelon1.jpg">


            <p> Kode for at komme videre: <br>
                <input type="text">
                <input type="button" value="Videre">
            </p>

        </div>
        <!-- First view END  --->

        <!-- Second view: To do list  --->
        <div style="font-size:0;">
            <img src="images/pligtseddel01.jpg">
            <img src="images/pligtseddel02.jpg">
            <img src="images/pligtseddel03.jpg">

        </div>
        <!-- Second view END  --->

        <!-- Third view: Sub tasks + input field --->

        <!-- Third view END  --->

        <!-- Fourth view: Graf + inputfield  --->

        <div>
            <img src="images/dogfood.png">
        </div>

        <!-- Fourth view END  --->

        <!-- Fifth view: Changed to do list + code   --->

        <!-- Fifth view END  --->



        <!-- Sixth view  --->

        <!-- Sixth view END  --->

        <!-- END PAGE CONTENT -->
    </div>

</body>

</html>
