body {
    background-color: black;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: fantasy, sans-serif;
    color: white;
}

p {
    font-size: 25x;
}

body {
    text-align: center;
}

img {
    width: 100%;
}

div {
    margin: 5%;
}

#introtext {

    margin: auto;
    width: 50%;
    height: 50%;

}

button {
    font-family: fantasy;
    font-size: 14px;
    padding: 12px 28px;
    border-radius: 12px;
    background-color: white;
    
}