/*GENERAL FOR WHOLE PAGE*/
body {
    background-color: black;
    font-family: sans-serif;
    color: white;
/*    line-height: 150%;*/
}

button {
    font-family: sans-serif;
    font-size: 14px;
    padding: 12px 28px;
    border-radius: 12px;
    background-color: white;
    margin: 1%;
}


/*STARTVIEW*/
#startview {
    text-align: center;
}

#startview div, #startview button {
    margin-top: 20vh;
}


/*INTROVIEW A*/
#introviewA {
    text-align: center;
}

#introviewA div ul {
    text-align: left;
}

#introviewA div, #introviewA button {
    margin-top: 20vh; 
}

/*

p,
li {
    font-size: 22px;
    line-height: 150%;
}

html {
    height: 100%
}

body {
    text-align: center;
    height: 100%;
    min-height: 100%;
}

img {
    width: 100%;
    height: 200%;
}

div {
    margin: 5%;
    min-height: 70%;
}

#main {
    margin: auto;
    height: 100%;
}

#startbutton {
    
    margin-top: 70%;
}
#introtext,
#introtexta,
#introtextb {
    align-content: center;
    margin: auto;
    height: 80%;
    top: 25%;
}

#introviewA,
#introviewB {

    height: 100%;
}

#introviewB,
#secondview,
#thirdview {
    margin-top: 40vh;


}


#introabutton,
#introbbutton {

    margin-bottom: 20%;
}

.floats {
    float: left;
}
*/
