/*
img {
    width: 90vw;
    padding-top: 20%;
}
*/

body {
    background-color: black;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    color: white;
}

body {
    text-align: center;
}

img {
    width: 100%;
}